@charset "UTF-8";
#Vacancies {
  width: 100% !important;
}

.VacanciesCheck-Box,
.Vacancies-Box,
.Apply-Box {
  margin: 0 auto !important;
  padding: 10px;
  border: solid 5px #1e90ff;
  border-radius: 1rem;
}
.VacanciesCheck-Box .dataTables_scroll,
.Vacancies-Box .dataTables_scroll,
.Apply-Box .dataTables_scroll {
  border: 1px rgba(0, 0, 0, 0.3) solid;
}
.VacanciesCheck-Box table,
.Vacancies-Box table,
.Apply-Box table {
  width: 100%;
}
.VacanciesCheck-Box table thead,
.Vacancies-Box table thead,
.Apply-Box table thead {
  width: 100% !important;
}
.VacanciesCheck-Box table td,
.Vacancies-Box table td,
.Apply-Box table td {
  vertical-align: middle;
}
.VacanciesCheck-Box table form,
.Vacancies-Box table form,
.Apply-Box table form {
  margin: 0;
}
.VacanciesCheck-Box table li,
.Vacancies-Box table li,
.Apply-Box table li {
  display: flex;
  align-items: center;
}
.VacanciesCheck-Box table span,
.Vacancies-Box table span,
.Apply-Box table span {
  white-space: pre-wrap;
}
.VacanciesCheck-Box table .btn,
.Vacancies-Box table .btn,
.Apply-Box table .btn {
  width: 75px;
}
.VacanciesCheck-Box table ul,
.Vacancies-Box table ul,
.Apply-Box table ul {
  width: 100%;
}

.dataTables_wrapper .col-sm-12 {
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.dataTables_wrapper .dataTables_filter label {
  display: flex;
  justify-content: end;
  align-items: center;
}
.dataTables_wrapper .dataTables_filter label input[type=search] {
  flex-grow: 1;
  min-width: 20px;
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  .dataTables_wrapper .dataTables_filter label {
    justify-content: center;
  }
}

.dtr-title {
  width: 80px;
  word-break: keep-all;
  text-align: center;
}
.dtr-title::after {
  content: "ï¼š";
}

.dtr-data {
  text-align: left;
}
