.VacanciesCheck-Box,
.Vacancies-Box,
.Apply-Box {
  margin: 0 auto !important;
  padding: 10px;
  border: solid 5px #1e90ff;
  border-radius: 1rem;
}

#Vacancies {
  width: 100% !important;
}

.dataTables_wrapper .col-sm-12 {
  margin-bottom: 5px;
}
.dataTables_wrapper .dataTables_filter label {
  display: flex;
  justify-content: end;
}
.dataTables_wrapper .dataTables_filter label input[type=search] {
  flex-grow: 1;
  min-width: 20px;
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_filter label {
    justify-content: center;
  }
}

table thead {
  width: 100% !important;
}
table td {
  vertical-align: middle;
}
table form {
  margin: 0;
}
table li {
  display: flex;
}
table span {
  text-align: center;
  margin: auto 5px auto 0;
}
table .btn {
  width: 75px;
}
