$navbar_color: #1c1c1c;
$navbar_font_color: white;
$navbar_font_color_hover: #1e90ff;
// linear-gradient(to bottom, #f4f5f7, #f0f5f8, #eff4f7);
$black_white: #e9e9e9;
$light_blue: #59d3eb;
$phone-max-width: 576px; //768
$tablet-max-width: 768px; //992

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    //border: black solid 1px;
    font-family: "Open Sans", "Noto Sans TC", serif;
}
html,
body {
    @include size(100%, 100%);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
nav {
    // border: solid yellow 2px;
    margin-bottom: 30px;
    background: $navbar_color;
    width: 100%;
    // flex-grow: 1;
    .logo {
        font-size: 50px;
        cursor: pointer;
        margin-right: 0.5em;
        min-width: 150px;
        color: $navbar_font_color;
        &:hover {
            color: $navbar_font_color_hover;
        }
    }
    .account {
        .bi,
        .bi-person {
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
        .Login {
            padding: 0.5em;
        }
        .SignUp {
            padding: 0.5em;
        }
        @media screen and (max-width: $tablet-max-width) {
            .col-6 {
                width: 0px;
            }
            .Login {
                border: solid 1px;
                border-radius: 5px;
            }
            .SignUp {
                border: solid 1px;
                border-radius: 5px;
            }
        }
    }
    a {
        font-size: 25px;
        font-weight: 700;
    }
}

.navbar-toggler {
    margin-right: 5px;
    border-color: rgba(255, 255, 255, 0.2) !important;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.navbar-nav {
    li {
        min-width: 130px;
        padding: 5px;
        ul {
            width: 100%;
        }
        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0px;
            color: $navbar_font_color;
            &:hover {
                color: $navbar_font_color_hover;
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 5px;
            }
            @media (max-width: $tablet-max-width) {
                // justify-content: flex-start;
                ul.dropdown-menu {
                    transition: 1s;
                }
            }
        }
        a.dropdown-item {
            margin: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            // padding-left: 30px;
        }
        @media screen and (min-width: $phone-max-width) {
            &:hover {
                ul.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

.main {
    flex-grow: 1;
    position: relative;
    // display: flex;
    min-height: 800px;
    // overflow: hidden;
    .container {
        position: relative;
        top: 100px;
    }
}

.footer {
    position: relative;
    flex-grow: 2;
    background: $navbar_color;
    border-top: black 1px;
}

.swiper {
    height: 60vw;
    width: 100%;
    max-height: 800px;
    max-width: 1400px;
    .swiper-wrapper {
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
