$navbar_color: linear-gradient(to bottom, #f4f5f7, #f0f5f8, #eff4f7);
$black_white: #e9e9e9;
$light_blue: #59d3eb;

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    //border: black solid 1px;
    font-family: "Open Sans", "Noto Sans TC", serif;
}
html,
body {
    @include size(100%, 100%);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

nav {
    border-bottom: solid black 2px;
    background: $navbar_color;
    width: 100%;
    // flex-grow: 1;
    .logo {
        font-size: calc(40px + 1.5vw);

        cursor: pointer;
        margin-right: 0.5em;
    }
    .account {
        .bi,
        .bi-person {
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
        .Login {
            padding: 0.5em;
        }
        .SignUp {
            padding: 0.5em;
        }
        @media screen and (max-width: 976px) {
            .col-6 {
                width: 0px;
            }
            .Login {
                border: solid 1px;
                border-radius: 5px;
            }
            .SignUp {
                border: solid 1px;
                border-radius: 5px;
            }
        }
    }
    a {
        font-size: 25px;
        color: black;
        font-weight: 700;
    }
}

.navbar-toggler {
    margin-right: 5px;
}

.navbar-nav {
    li {
        margin: 5px;
        &:hover {
            ul.dropdown-menu {
                display: block;
            }
        }
        ul {
            width: 100%;
        }
        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0px;
            @media (max-width: 976px) {
                justify-content: flex-start;
                ul.dropdown-menu {
                    transition: 1s;
                }
            }
        }
        a.dropdown-item {
            margin: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        @media (max-width: 976px) {
            width: 100%;
            a {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.main {
    // background: #e9e9e9;
    // background-image: url("/img/01.jpg");
    flex-grow: 1;
    position: relative;
    // display: flex;
    min-height: 800px;
    // overflow: hidden;
    .word {
        @include flexCenter;
        // position: absolute;
        // @media screen and (min-width: 576px) {
        //     font-size: 70px;
        //     bottom: 30%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }
        // @media screen and (min-width: 768px) {
        //     bottom: 20%;
        // }
    }
    .word_main {
        @extend .word;
        font-size: calc(50px + 1.5vw);
        // bottom: 40%;
        left: 50%;
    }
    .container {
        position: relative;
        top: 100px;
    }
}

.footer {
    position: relative;
    flex-grow: 2;
    background-color: $navbar_color;
    border-top: black 1px;
}

// .title {
//     margin: 40px;
// }
