$navbar_color: #1c1c1c;
$navbar_font_color: white;
$navbar_font_color_hover: #1e90ff;
$light_blue: #59d3eb;
$phone-max-width: 576px;
$tablet-max-width: 768px;

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    //border: black solid 1px;
    font-family: "Open Sans", "Noto Sans TC", serif;
}
html,
body {
    @include size(100%, 100%);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
nav {
    background: $navbar_color;
    // height: 200px;
    align-content: stretch;
    width: 100%;
    // min-width: 350px;
    .logo {
        font-size: 50px;
        cursor: pointer;
        margin: 0;
        min-width: 150px;
        color: $navbar_font_color;
        &:hover {
            color: $navbar_font_color_hover;
        }
    }
    .account {
        .bi,
        .bi-person {
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
    }
    a {
        font-size: 25px;
        font-weight: 700;
    }
    @media screen and (max-width: 244px) {
        justify-content: center !important;
        .navbar-toggler {
            width: 80%;
            margin-bottom: 5px;
        }
    }
}

.navbar-toggler {
    margin-right: 5px;
    border-color: rgba(255, 255, 255, 0.2) !important;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.navbar-nav {
    li {
        min-width: 130px;
        padding: 5px;
        ul {
            width: 100%;
        }
        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0px;
            color: $navbar_font_color;
            &:hover {
                color: $navbar_font_color_hover;
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 5px;
            }
            @media (max-width: $tablet-max-width) {
                // justify-content: flex-start;
                ul.dropdown-menu {
                    transition: 1s;
                }
            }
        }
        a.dropdown-item {
            margin: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            // padding-left: 30px;
        }
        @media screen and (min-width: $phone-max-width) {
            &:hover {
                ul.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

.main {
    flex-grow: 1;
    width: 100%;
    position: relative;
    // display: flex;
    min-height: 800px;
    // overflow: hidden;
    // .container {
    //     position: relative;
    //     top: 100px;
    // }
}

.footer {
    position: relative;
    flex-grow: 2;
    background: $navbar_color;
    border-top: black 1px;
}

.swiper {
    height: 60vw;
    width: 100%;
    max-height: 800px;
    max-width: 1400px;
    .swiper-wrapper {
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#container {
    margin: 30px auto;
    // border: solid 10px $light_blue;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 92%;
    }
    @media (min-width: 1200px) {
        width: 1180px;
    }
    h1 {
        font-weight: bold;
    }
}

.Response-Box {
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    h1 {
        margin: 5px;
    }
    .Responses {
        padding: 10px;
    }
    .Response-Card {
        background-color: #f5f5f5;
        margin: 5px;
        // border: solid 1px;
        border: 1px rgba(0, 0, 0, 0.1) solid;
        // border-radius: 1em;
        padding: 10px;
        .Message-Detail {
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            margin-bottom: 5px;
            .article {
                flex-grow: 1;
            }
            .author {
                margin-right: 10px;
            }
            @media (max-width: $phone_max_width) {
                flex-direction: column;
            }
        }
    }
    .Leave-Comment {
        width: 100%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        // justify-content: stretch;
        .author,
        .gist,
        .content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 5px;
            span {
                margin-right: 5px;
            }
            input {
                flex-grow: 1;
                // max-width: 100px;
                min-width: 50px !important;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            span {
                align-self: flex-start;
            }
            textarea {
                align-self: stretch;
            }
        }
        input {
            font-size: 20px;
        }
    }
    ul {
        list-style: none;
    }
    button {
        margin: 0 15px 5px 15px;
    }
    nav {
        background-color: white;
        margin: 0;
        // border-radius: 1rem;
    }
    .pagination {
        align-items: center;
        justify-content: center;
        margin: 5px;
        // background: ;
        .page-item {
            .page-link {
                line-height: 37.5px;
                font-size: 25px;
                font-weight: 700;
                height: 50px;
            }
        }
    }
}

.CheckUser-Box {
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    padding: 10px;
    overflow: auto;
    form {
        display: flex;
        min-width: 350px;
        height: 40px;
    }
    table {
        tr {
            text-align: center;
        }
        th {
            font-size: 18px;
            // min-width: 100px;
            word-break: keep-all;
        }
        td {
            font-size: 18px;
            line-height: 36px;
            word-break: keep-all;
            a {
                // min-width: 100px;
                text-decoration: none;
            }
        }

        @media screen and (max-width: 992px) {
            thead {
                display: none;
            }
            tbody,
            tr,
            td {
                text-align: right !important;
                display: block;
                min-height: 48px;
                &:before {
                    content: attr(data-label);
                    position: absolute;
                    left: 0;
                    width: 50%;
                    text-align: left;
                    padding-left: 15px;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            td {
                min-width: 350px;
            }
            tr {
                position: relative;
                margin-bottom: 10px;
            }
        }
    }
}

.content-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
}

.Vacancies-Input-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
    font-size: 1.1rem;
    h1 {
        font-weight: bold;
    }
    .form-group {
        padding: 5px;
    }
    textarea {
        overflow: auto;
        max-height: 300px;
    }
    .Vacancies-Submit {
        margin: 5px;
    }
}

.Announcement-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
    font-size: 1.1rem;
    overflow: auto;
    h1 {
        text-align: center;
        font-weight: bold;
    }
    // .tableBox {

    // }
    table {
        border: 1px rgba($color: #000000, $alpha: 0.3) solid;
        width: 100%;
        // min-width: 500px;
        overflow: auto;
        thead,
        tbody {
            text-align: center;
        }
        th:first-child,
        td:first-child {
            text-align: left;
        }
        th,
        td {
            min-width: 90px;
        }
        td:first-child {
            min-width: 200px;
        }
    }
    .btn-primary {
        width: 100%;
        min-width: 560px;
    }
}
