$phone-max-width: 576px;
$tablet-max-width: 768px;
$btn-dark: #212529;
$btn-primary: #0d6efd;
$btn-success: #198754;
$btn-danger: #dc3545;

@mixin btn($background_color, $font_color: #fff) {
    width: 100%;
    color: $font_color;
    background-color: $background_color;
    // border-color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: ease-in-out 0.15s;
    &:hover {
        filter: brightness(90%);
    }
    // &:
}

.Apply-Info-Box {
    padding: 10px;
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    .Vacancy-Content {
        position: relative;
        display: flex;
        box-sizing: border-box;
        // flex-wrap: wrap;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
        .Tabs-List {
            nav {
                flex-direction: column;
                position: fixed;
                top: 240px;
                width: 100px;
                background: none;
                .nav-link {
                    flex-grow: 1;
                    font-size: 16px;
                    border-bottom: rgba(0, 0, 0, 0.2) 2px solid;
                    text-align: center;
                    &:hover {
                        border-bottom-color: rgba(24, 149, 221, 0.3);
                    }
                }
                .active {
                    border-bottom-color: rgb(24, 149, 221);
                }
            }
            @media (max-width: 1200px) {
                // flex-direction: row;
                .nav {
                    position: relative;
                    top: 0px;
                    flex-direction: row;
                    width: 100%;
                    overflow: auto;
                    flex-wrap: nowrap;
                }
                .nav-link {
                    word-break: keep-all;
                    min-width: 110px;
                    min-height: 48px;
                    flex-grow: 1;
                }
                width: 100%;
                border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
            }
        }
        .Vacancy-Info {
            // display: flex;
            // flex-direction: column;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            li {
                font-size: 24px;
                margin: 10px;
                // max-width: 83.3%;
                display: flex;
                flex-wrap: wrap;
                word-wrap: break-word;
                // box-sizing: border-box;
                i {
                    margin-right: 5px;
                }
                p {
                    margin: 0;
                    min-width: 120px;
                }
                span {
                    // display: inline-block;
                    word-wrap: break-word;
                    max-width: 100%;
                }
            }
        }
    }
    button[type="submit"] {
        // margin: 5px auto;
        width: 100%;
    }
}

.Pair-Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    overflow: auto;
    .Pair-Fill-In {
        width: 100%;
        .Pair-Row {
            display: flex;
            justify-content: center;
            margin: 5px;
            // align-items: center;
            width: 100%;
            font-size: 20px;
            span {
                min-width: 220px;
                text-align: right;
            }
            @media (max-width: $phone_max-width) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                select,
                input[type="date"] {
                    width: 100%;
                }
                span {
                    min-width: 1px;
                    align-self: flex-start;
                    text-align: left;
                }
            }
        }
        select,
        input[type="date"] {
            width: 250px;
            height: 30px;
        }
        margin: 10px;
    }
    input[type="submit"] {
        width: 100%;
    }
    table {
        // display: flex;
        // flex-direction: column;
        width: 100%;
        font-size: 20px;
        thead {
            tr {
                th {
                    margin: 10px;
                    min-width: 140px;
                }
            }
        }
        @media (max-width: $tablet_max_width) {
            display: flex;
            // flex-direction: column;
            thead {
                width: 100px !important;
                tr {
                    display: flex;
                    flex-direction: column;
                    th {
                        margin: 0;
                        width: 100px;
                    }
                }
            }
            tbody {
                width: 100%;
                tr {
                    display: flex;
                    flex-direction: column;
                    // align-items: stretch;
                }
                td {
                    min-width: 180px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom-color: black;
                    width: 100%;
                    height: 47px;
                    position: relative;
                    a,
                    form {
                        max-width: 200px;
                    }
                }
            }
        }
    }
}

.File-Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    flex-wrap: wrap;
    // overflow: auto;
    a {
        margin: 10px;
        width: 10rem;
    }
    .File-Upload {
        width: 75%;
        max-width: 500px;
        button[type="submit"] {
            @include btn($btn_dark);
            margin-top: 5px;
        }
        @media screen and (max-width: $phone_max_width) {
            width: 100% !important;
        }
    }
}

.File-Update-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 1rem;
    border: solid 5px #1e90ff;
    .Edit {
        width: 75%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        .File-Download {
            @include btn($btn-success);
        }
        .File-Update {
            @include btn($btn-primary);
            // order: 1;
        }
        .File-Delete {
            @include btn($btn-danger);
        }
        a,
        form {
            flex-basis: 200px;
            flex-grow: 1;
            min-width: 100px;
            margin: 5px;
        }
        button[type="submit"] {
            height: 100%;
            width: 100%;
        }
    }
}
