.VacanciesCheck-Box {
    padding: 10px;
    border: solid 5px #1e90ff;
    border-radius: 1rem;
}

.dataTables_wrapper {
    .col-sm-12 {
        margin-bottom: 5px;
    }
}
table {
    thead {
        tr {
            th {
                // text-align: center;
                // display: inline-flex;
                // flex-direction: row;
            }
        }

        // height: 50px;
    }
    li {
        display: flex;
    }
    span {
        // text-align: center;
        vertical-align: bottom;
        margin: auto 5px auto 0;
    }
}
