.Apply-Info-Box {
  padding: 10px;
  border: solid 5px #1e90ff;
  border-radius: 1rem;
}

.Apply-Info-Box .Vacancy-Content {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .Apply-Info-Box .Vacancy-Content {
    flex-direction: column;
  }
}

.Apply-Info-Box .Vacancy-Content .Tabs-List nav {
  flex-direction: column;
  position: fixed;
  top: 240px;
  width: 100px;
  background: none;
}

.Apply-Info-Box .Vacancy-Content .Tabs-List nav .nav-link {
  flex-grow: 1;
  font-size: 16px;
  border-bottom: rgba(0, 0, 0, 0.2) 2px solid;
  text-align: center;
}

.Apply-Info-Box .Vacancy-Content .Tabs-List nav .nav-link:hover {
  border-bottom-color: rgba(24, 149, 221, 0.3);
}

.Apply-Info-Box .Vacancy-Content .Tabs-List nav .active {
  border-bottom-color: #1895dd;
}

@media (max-width: 1200px) {
  .Apply-Info-Box .Vacancy-Content .Tabs-List {
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  }
  .Apply-Info-Box .Vacancy-Content .Tabs-List .nav {
    position: relative;
    top: 0px;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .Apply-Info-Box .Vacancy-Content .Tabs-List .nav-link {
    word-break: keep-all;
    min-width: 110px;
    min-height: 48px;
    flex-grow: 1;
  }
}

.Apply-Info-Box .Vacancy-Content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.Apply-Info-Box .Vacancy-Content ul li {
  font-size: 24px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.Apply-Info-Box .Vacancy-Content ul li i {
  margin-right: 5px;
}

.Apply-Info-Box .Vacancy-Content ul li p {
  margin: 0;
  min-width: 120px;
}

.Apply-Info-Box .Vacancy-Content ul li span {
  word-wrap: break-word;
  max-width: 100%;
}

.Apply-Info-Box button[type="submit"] {
  width: 100%;
}

.Pair-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: solid 5px #1e90ff;
  border-radius: 1rem;
  overflow: auto;
}

.Pair-Box .Pair-Fill-In {
  width: 100%;
  margin: 10px;
}

.Pair-Box .Pair-Fill-In .Pair-Row {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 100%;
  font-size: 20px;
}

.Pair-Box .Pair-Fill-In .Pair-Row span {
  min-width: 220px;
  text-align: right;
}

@media (max-width: 576px) {
  .Pair-Box .Pair-Fill-In .Pair-Row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Pair-Box .Pair-Fill-In .Pair-Row select,
  .Pair-Box .Pair-Fill-In .Pair-Row input[type="date"] {
    width: 100%;
  }
  .Pair-Box .Pair-Fill-In .Pair-Row span {
    min-width: 1px;
    align-self: flex-start;
    text-align: left;
  }
}

.Pair-Box .Pair-Fill-In select,
.Pair-Box .Pair-Fill-In input[type="date"] {
  width: 250px;
  height: 30px;
}

.Pair-Box input[type="submit"] {
  width: 100%;
}

.Pair-Box table {
  width: 100%;
  font-size: 20px;
}

.Pair-Box table thead tr th {
  margin: 10px;
  min-width: 140px;
}

@media (max-width: 768px) {
  .Pair-Box table {
    display: flex;
  }
  .Pair-Box table thead {
    width: 100px !important;
  }
  .Pair-Box table thead tr {
    display: flex;
    flex-direction: column;
  }
  .Pair-Box table thead tr th {
    margin: 0;
    width: 100px;
  }
  .Pair-Box table tbody {
    width: 100%;
  }
  .Pair-Box table tbody tr {
    display: flex;
    flex-direction: column;
  }
  .Pair-Box table tbody td {
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-color: black;
    width: 100%;
    height: 47px;
    position: relative;
  }
  .Pair-Box table tbody td a,
  .Pair-Box table tbody td form {
    max-width: 200px;
  }
}

.File-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: solid 5px #1e90ff;
  border-radius: 1rem;
  flex-wrap: wrap;
}

.File-Box a {
  margin: 10px;
  width: 10rem;
}

.File-Box .File-Upload {
  width: 75%;
  max-width: 500px;
}

.File-Box .File-Upload button[type="submit"] {
  width: 100%;
  color: #fff;
  background-color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: ease-in-out 0.15s;
  margin-top: 5px;
}

.File-Box .File-Upload button[type="submit"]:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 576px) {
  .File-Box .File-Upload {
    width: 100% !important;
  }
}

.File-Update-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 1rem;
  border: solid 5px #1e90ff;
}

.File-Update-Box .Edit {
  width: 75%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.File-Update-Box .Edit .File-Download {
  width: 100%;
  color: #fff;
  background-color: #198754;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: ease-in-out 0.15s;
}

.File-Update-Box .Edit .File-Download:hover {
  filter: brightness(90%);
}

.File-Update-Box .Edit .File-Update {
  width: 100%;
  color: #fff;
  background-color: #0d6efd;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: ease-in-out 0.15s;
}

.File-Update-Box .Edit .File-Update:hover {
  filter: brightness(90%);
}

.File-Update-Box .Edit .File-Delete {
  width: 100%;
  color: #fff;
  background-color: #dc3545;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: ease-in-out 0.15s;
}

.File-Update-Box .Edit .File-Delete:hover {
  filter: brightness(90%);
}

.File-Update-Box .Edit a,
.File-Update-Box .Edit form {
  flex-basis: 200px;
  flex-grow: 1;
  min-width: 100px;
  margin: 5px;
}

.File-Update-Box .Edit button[type="submit"] {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=student.css.map */